:root {
    --blue-dark: #0058ff;
    --blue-medium: #008bfe;
    --blue-light: #81c9ff;
    --grey-dark: #262626;
    --grey-medium-dark: rgb(159, 162, 180);
    --grey-medium-light: rgb(223, 224, 235);
    --grey-light: #f7f8fc;
    --black: black;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
}


/* ##### SIDEBAR ##### */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
    border-right: 2px solid var(--blue-medium);
    box-shadow: 1px 0 5px var(--grey-medium-dark);
    z-index: 1;
}

.logo,
.sidebar-nav a {
    margin-left: 25px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.sidebar > ul {
    list-style: none;
}

.sidebar-nav a {
    text-decoration: none;
    color: var(--grey-dark);
    display: flex;
    align-items: flex-end;
    padding: 13px 0;
    padding-right: 10px;
    font-size: 1.2rem;
    gap: 20px;
}

.sidebar-nav li:hover {
    background-color: var(--blue-light);
    border-left: 4px solid var(--blue-dark);
}
.sidebar-nav li:hover span {
    color: var(--blue-dark);
}

.sidebar-legal {
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
    font-style: italic;
}


/* ##### MAIN ##### */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--grey-light);
    align-content: flex-start;
    overflow: auto;
}


/* header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 30px;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons {
    display: flex;
    gap: 8px;
    border-right: 2px solid var(--grey-medium-light);
    border-radius: 1px;
    padding-right: 20px;
}

/* filters */
.filters {
    flex: 1 0 100%;
    padding: 0 30px;
}

/* info cards */
.info-cards {
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding: 0 30px;
}

.card {
    border: 2px solid var(--grey-medium-light);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px 45px;
}

.card-title {
    color: var(--grey-medium-dark);
    font-size: 1.2rem;
    font-weight: 700;
}

.card-value {
    color: var(--blue-dark);
    font-size: 1.5rem;
    font-weight: 700;
}

/* dashboards */
.dashboards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 0 100%;
    justify-content: center;
}

.dashboard {
    border: 1px solid var(--grey-dark);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds-big {
    width: 95%;
    aspect-ratio: 3/1;
}

.ds-small {
    width: calc((95% - 20px) / 2);
    aspect-ratio: 2/1;
}




